
*{
    padding: 0%;
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

body{
    height: 100%;
    width: 100%;
    
    
   
}
.footer{
    width: 100%;
    height: 60vh;
    background-color: rgb(9, 9, 22);
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    margin-top:15vh;
  
    
   
   
}
.footer1{
    height: 40vh;
    padding: 30px 30px;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(178, 176, 176);
    
    justify-content: space-between;

}

.topic1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    

}
.topic1 a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    text-transform: capitalize;
}

.footer2{
    border-top: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20vh;
    
    
}
.copywright{
    width: 50vw;
    display: flex;
    justify-content: end;
    align-items: center
}
.copywright img{
    height: 20px;
}
.payment{
    width: 50vw;
    display: flex;
    gap: 15px;
    
    justify-content: center;
    
}
.payment img{
    height: 30px;
    display: flex;
    align-items: center;
}

