

.footer{
  
    height: 30vw;
    background-color: rgb(9, 9, 22);
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    
  
    
   
   
}
.footer1{
   
    height: 25vw;
    padding: 3vw;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2vw;
    color: rgb(178, 176, 176);
    
    justify-content: space-between;

}

.topic1{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    

}
.topic1 a{
    text-decoration: none;
    color: white;
    font-size: 1vw;
    text-transform: capitalize;
}

.footer2{
    border-top: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5vw;
    
    
}
.copywright{
    font-size: 2vw;
    width: 50vw;
    display: flex;
    justify-content: end;
    align-items: center
}
.copywright img{
    height: 2vw;
}
.payment{
    
    width: 45vw;
    display: flex;
    gap: 2vw;
    
    justify-content: center;
    
}
.payment img{
    height: 3vw;
    display: flex;
    align-items: center;
}

