body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;
}
.form-container {
    background-color: #ab0c0c;
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    width: 90vw;
    max-width: 50vw;
    box-sizing: border-box;
}
h1 {
    font-size: 2vw;
    margin-bottom: 2vw;
    color: #333;
}
.form-group {
    margin-bottom: 2vw;
}
.form-group label {
    display: block;
    margin-bottom: 1vw;
    font-weight: bold;
    color: #01501e;
    font-size: 1.2vw;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 1.5vw;
    border: 0.1vw solid #ddd;
    border-radius: 0.5vw;
    font-size: 1.3vw;
    box-sizing: border-box;
}
.form-group input[type="url"] {
    height: auto;
}
.form-group input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
    appearance: textfield;
    -webkit-appearance: none; /* For Chrome, Safari, and Opera */
}
.form-group input[type="number"]::-webkit-inner-spin-button,
.form-group input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 1.5vw 2vw;
    font-size: 1.2vw;
    border-radius: 0.5vw;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}
.submit-button:hover {
    background-color: #0056b3;
}
@media (max-width: 600px) {
    .form-container {
        padding: 4vw;
        width: 90vw;
        max-width: 90vw;
    }
    h1 {
        font-size: 4vw;
        margin-bottom: 4vw;
    }
    .form-group label {
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    .form-group input, .form-group select {
        padding: 3vw;
        font-size: 3vw;
    }
    .submit-button {
        padding: 3vw 4vw;
        font-size: 3vw;
    }
}