
*{
    padding: 0%;
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}


.main{
    padding: 0vw 2vw;
    background-color: rgb(182, 182, 182);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}



/*centre*/
.centre{
    padding: 9vw 0vw;
   
    display: flex;
   
    justify-content: space-between;
}
.centre-left{
    
    font-size: 1.2vw;
    width: 50vw;
    margin-left: 5vw;
   
    
    
   
    
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    line-height: 1;
    gap: 1vw;
    text-transform: capitalize;
    
}

    

.centre-left h7{
    font-size: 1vw;
}
.centre-left h{
    font-size: 1.3vw;
}
.nike{
    font-size: 4vw;
   
    color:transparent;
    -webkit-text-stroke: 0.1vw rgb(61, 61, 61);
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0.4vw 0px rgb(66, 66, 66);
}
.centre-left button{
   
    border-radius: 0px 20px 20px 20px;
    display: flex;
    align-items: center;
    font-size: 1.3vw;
    color: white;
    border: 1px solid black;
   
    background-color: black;
   
    text-transform: uppercase;
    width: 10vw;
    height: 3vw;
    justify-content: center;
} 

.product{
    
    border-radius: 5vw;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;


}
.product img{
    width: 40vw;
    rotate: -10deg;
    object-fit: contain;
    
    height: 30vw;
   
}

/*footwear*/
.footwear{
    
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 0px 40px;
    font-weight: 700;
    
}
.foot-heading{
    margin-bottom: 20px;
   
    
    font-size: 3vw;
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    gap: 2vw;
   
}
.foot img{
    width: 28vw;
    height: 40vw;
    object-fit: cover;
    
    
}
.mens-foot{
    display: flex;
    flex-direction: column;
}
.mens-foot span{
    border: solid;
    font-size: 1.2vw;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-6vw);
    margin-left: 10px;
    width: 8vw;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    justify-content: center;
    
    padding: 3px;

}


/*slider-ad*/
.slider-ad{
   
    padding: 3vw 0vw;
    
  
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-weight: 800;
   
   
}
.slider-heading{
    font-size: 3vw;
    margin-bottom: 2vw;
}
.slider-img{
   
   
    
    display: flex;
    flex-direction: row;
    gap: 3vw;
    
    
    justify-content: space-between;
    align-items: center;
}
.slider-img img{
    height: 25vw;
    object-fit: contain;
    
   
    width: 20vw;
    
   
}


  
  


/* top ad*/
.top-ad{
    
   
    background-color: rgb(227, 227, 227);
    background: linear-gradient(to bottom right,rgb(47, 182, 240),rgb(140, 240, 140));
    
    display: flex;
    padding: 0vw 5vw;
    align-items: center;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    font-size: 5vw;
    font-weight: 900;
    margin-bottom: 15vw;
    
   
   

}
.top-ad img{
    height: 25vw;
    
}


/*running ad img*/
.running-img{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.run_heading{
    font-size: 3vw;
    margin-bottom: 2vw;
    font-weight: 700;
}

.run-img img{
    width: 90vw;
    height: 25vw;
    object-fit: cover;
}
.run-img {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.run-img o{
    border: solid;
    background-color: white;
    transform: translateY(-50px);
    padding: 5px;
    font-weight: 800;
    font-size: 1.2vw;
    border-radius: 20px;
   
}




  







